<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>305310722582-gp3esm9q89bv1t46str0rolcu1upsmqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305310722582-gp3esm9q89bv1t46str0rolcu1upsmqk</string>
	<key>API_KEY</key>
	<string>AIzaSyCoIGypi2-jLuXjPTWEtOIBV4pPSs7Pbwo</string>
	<key>GCM_SENDER_ID</key>
	<string>305310722582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ryann-Consalo.iXLocationProject</string>
	<key>PROJECT_ID</key>
	<string>ixlocationproject</string>
	<key>STORAGE_BUCKET</key>
	<string>ixlocationproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:305310722582:ios:c71083198d3f5419</string>
	<key>DATABASE_URL</key>
	<string>https://ixlocationproject.firebaseio.com</string>
</dict>
</plist>